// @use "./commons";
// @use "./modules";
@use "node_modules/tailwindcss/tailwind.css" as *;
@use "node_modules/react-awesome-button/dist/styles.css" as *;
@use "node_modules/slick-carousel/slick/slick.css" as *;
@use "node_modules/slick-carousel/slick/slick-theme.css" as *;

@use "./util";
@use "./common";
@use "./modules";
@use "./variable" as v;
// @use "./404.scss" as *;

@forward "./font";

body {
  font-family: v.$font-primary;
  background-color: v.$color-white;
  font-size: v.$font-size-text;
  color: v.$color-secondary;
  overflow: scroll;
}

input,
// button,
select {
  &:focus {
    outline: none;
  }
}

a:hover {
  color: v.$color-primary;
}

@include util.mq("widescreen") {
  .container {
    max-width: 1170px !important;
  }
}

.color-primary {
  color: v.$color-primary;
}

.react-multi-carousel-dot {
  position: relative;
  display: flex;
}

.react-multi-carousel-dot-list {
  bottom: 12px;
}

/* Chrome, Safari, Edge, Opera */

/* Firefox */
input.custom-number-input[type="number"] {
  -moz-appearance: textfield;
}



// .content {
//   background: url("") no-repeat top left,
//     url("/icons/background-foot.svg") no-repeat bottom right;
// }

.zalo-chat-widget {
  bottom: 100px !important;
  right: 25px !important;
}

.ck-powered-by {
  display: none;
}
